/* widget div + global rules 
---------------------------------------*/
.cf_widget {

}

.cf_widget input {

}

.cf_widget * {

}

.cf_rules_disclaimer_wrap{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #1B5269;
    border: 2px solid #F4B7C8;
    padding: 40px;
}

.cf_widget .cf_error {
    background: #FFEBE8;
    display:inline-block;
    zoom:1;
    *display:inline;    
}

.cf_clear {
    clear: both;
}

.small .cf_title {
}

.small .cf_title img {

}

/* media + description
---------------------------------------*/
.cf_widget-inside .cf_media img {
    margin-left: auto;
  	margin-right: auto;
    width: auto;
}

.cf_youtube_video {
    width: 100%;
}

.cf_widget-inside .cf_description {

}

.large .cf_media.inline {
    width: 49%;
    padding: 2%;
}

.large .cf_description.inline {
    width: 49%;
    padding: 2%;
}

.large .float_left {
    float: left;
}

.large .float_right {
    float: right;
}

/* actions
---------------------------------------*/
.cf_widget-inside .cf_actions {

}


.large .cf_actions_inner form > div {
    //margin-top: 7px;
}

.small .cf_actions_inner form > div {
    margin-top: 4px;
}

.cf_actions_inner input[type="text"] {
    width: 100%;
}

.cf_actions_inner input:not([type="checkbox"]) {
    //width: 100%;
}

.large .cf_actions_inner input {

}

.small .cf_actions_inner input {

}
.error_req{
    background: #ec6d6d;
    color: #fff;
}
.cf_actions_inner input.error_req {
    
}

span.error_req{
    padding: 4px;
    display: inline-block;
}

.large .names {
    width: 100%;
    clear: both;
    zoom:1;
}

.large .cf_first_name {
    width: 49%;
    float: left;
}

.small .cf_first_name {
    clear: both;
}

.large .cf_last_name {
    width: 49%;
    float: right;
}

.small .cf_last_name {
    margin-top: 3px;
    clear: both;
}

.cf_submit_div .cf_submit {

}

.cf_submit_div.cf_loading .cf_submit {
    cursor: default;
}

.small .cf_submit {
   
}

.large .cf_submit {

}

/* actions_submit
---------------------------------------*/
.cf_actions_inner .social img {
    
}

.small .social {

}

.small .social img {
    width: 50px;
    height: 50px;
    margin-right: 3%;
}

.cf_actions_inner .social_title {

}

.cf_actions_inner .social_message {

}

.large .social_message {

}

.cf_actions_inner .shareurl {
    width: 100%;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.large .shareurl {

}

.small .shareurl {

}

.cf_actions_inner .shareurl span {

}

.cf_widget .cf_contact_message {

}

/* actions double optin
---------------------------------------*/
.cf_actions_inner .double_optin_message {
    
}
@media only screen and (min-width: 768px) {
    .share-boxes{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#referral-code,
#social{
    border: 1px solid #fff;
    padding: 20px;
}


